{%extends 'base.html'%}

{% load bootstrap3 %}




<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<<body style="background-color:#F1F3F3">
>

{% block content %}
{{block.super}}
<div class="container">
<div class="row">
<div class="col-md-6">


<h1>Profile page</h1>
<style>
    img.radius {
    border-radius: 70%;
    }
    </style>
<img src="{{profile.profile_photo.url}}"  class="radius" class="img-responsive" alt="Image" style="width:200px;height:200px;">



</div>
<div class="col-md-6">
  <p><strong>{{request.user.username}}</strong></p>
  <p><strong>PhoneNumber</strong>{{profile.phone_number}}</p>
  <p><strong>Email</strong>{{profile.email}}</p>



<a href="{%url 'create-profile' %}"><button type="button" class="btn btn-info" name="button">Update profile</button></a>
<a href="{%url 'edit-profile' %}"><button type="button" class="btn btn-info" name="button">Edit profile</button></a></p>
</p>
<a  data-toggle="modal" data-target="#settings" aria-hidden="true"style="color:black;" ><button type="button" class="btn btn-info" name="button"> Add a receipt</button></a>


</div>
</div>
<p class="text-center"><strong>Your Receipts</strong></p>

<div class="row">

  {% for receipt in receipts %}

      <div class="col-md-4">

        <img src="{{receipt.receipt_image.url}}" class="img-responsive" alt="Image">
      <p>{{receipt.upload_time}}</p>
        </div>


      {% empty %}
      <h2 class="text-center">There are no receipts yet</h2>

      {% endfor %}
  </div>
  <v>
</div>
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
          <form  action="{%url 'profile' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success btn-lg" value="Post">
          </form>
        </div>
    </div>
</div>
</div>
</div>

{%endblock%}
